* {
		padding: 0;
		margin: 0;
	}
	
	a {
		text-decoration: none;
		color: #333;
	}
	
	em {
		font-style: normal;
	}
	

	ul,
	li {
		list-style: none;
	}
	/*内容*/
	.info-content{

		margin: 0.48rem;
		margin-bottom: 2rem;
		margin-top: 44px;
	}
	.info-content table{
		background-color: #fff;
		width: 100%;
	}
	.info-content table tr{
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.info-content table tr .td-left{
		background-color: #E6F3FC;
		color: #666;
		font-size: 14px;
		border: 1px solid #B8E2FF;
		width: 5.1rem !important;
		padding: 0.2rem;
		display: flex;
		align-items: center;
	}
	.info-content table tr .td-right{
		flex: 1;
		color: #000;
		border: 1px solid #E7EAE9;
		font-size: 0.34rem;
		padding: 0.2rem 0 0.2rem 0.1rem;
	}
	/*表格标题*/
	.info-content table tr:nth-child(1){
		text-align: center;
		background-color: #F2F8FD;
		padding: 0.25rem !important;
		/*height: 0.6rem;
		line-height: 0.6rem;*/
	}
	.info-content table tr:nth-child(1) td{
		background-color: #F2F8FD;
		border:none;
	
	}
	.info-content table tr:nth-child(1) h3{
		display: inline-block;
		font-size: 0.38rem;
		margin-right: 0.24rem;
	}
	.info-content table tr:nth-child(1) span{
		color: #666;
		font-size: 0.36rem;
	}



	/*列表*/
	.unitList{
		font-size:  0.34rem;
		margin: 0.48rem;
		margin-bottom: 2rem;
		margin-top: 44px;
	}
	.unitList table{
		background-color: #fff;
		width: 100%;
	}
	.unitList table tr{
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.unitList table tr .td-left{
		background-color: #E6F3FC;
		color: #666;
		font-size: 0.34rem;
		border: 1px solid #B8E2FF;
		width: 5.1rem !important;
		padding: 0.2rem;
		display: flex;
		align-items: center;
	}
	.unitList table tr .td-right{
		flex: 1;
		color: #000;
		border: 1px solid #E7EAE9;
		font-size: 0.34rem;
		padding: 0.2rem 0 0.2rem 0.1rem;
	}
	/*表格标题*/
	.unitList table tr:nth-child(1){
		text-align: center;
		background-color: #F2F8FD;
		padding: 0.25rem !important;
		/*height: 0.6rem;
		line-height: 0.6rem;*/
	}
	.unitList table tr:nth-child(1) td{
		background-color: #F2F8FD;
		border:none;

	}
	.unitList table tr:nth-child(1) h3{
		display: inline-block;
		font-size: 0.38rem;
		margin-right: 0.24rem;
	}
	.unitList table tr:nth-child(1) span{
		color: #666;
		font-size: 0.36rem;
	}
/*底部*/
	
	footer {
		background-color: #1492ff;
		position: fixed;
		bottom: 0;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	
	footer ul {
		display: flex;
		justify-content: space-around;
	}
	
	footer ul li {
		flex: 1;
		text-align: center;
	}
	
	footer ul li a {
		text-align: center;
		color: #fff;
		display: block;
		padding: 0.34rem 0;
		font-size: 0.40rem;
	}
	
	footer ul li a img {
		width: 0.7rem;
	}